body {
  background: $body-bg;
  font-family: Arial, Helvetica, sans-serif;
}

a,
button {
  cursor: pointer;
  display: inline-block;
}

input {
  font-size: 14px;
}

.white {
  color: #fff;
}

.primary-bg {
  background: $primary;
}

.container {
  max-width: 670px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.shadow {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.relative {
  position: relative;
}
